---
layout: default
---

<div id="index-banner">
  <div class="banner-container">

    <div class="banner-content">
      <div></div>
      <div class="banner-title">HEY, I'M ITALO!</div>
      <div class="banner-info1">
        <p>I am a tech enthusiast who loves  and codes for fun!</p>
      </div>
      <div class="banner-info2">
        <p>{% include fa-icon.html id="desktop" add-class="fa-index" %} Engineering Student @ UFMG</p>
        <p>{% include fa-icon.html id="map-pin" add-class="fa-index" %} Belo Horizonte-MG, Brazil</p>
      </div>
      <a class="banner-btn" href="{{ site.baseurl }}/about">LEARN MORE</a>
      <div></div>
    </div>

  </div>
</div>

<div id="main" role="main" class="container-main">

{% include twitterTimeline.html %}

<div class="posts content-fadein">
  <h2 style="font-variant: small-caps">read my blog</h2>
  <!-- <p class="header-sitemap">
    <a href="https://italohdc.github.io">Italo Lelis</a> &gt; Blog</p> -->
  {% for post in site.posts %}
  {% if post.hidden == !true  %}
  <article>
    <hr>
    <!-- {% if post.lang == "pt_BR" %}
    <span class="tag-lang">PT BR</span>{% endif %} -->
    <!-- <a href="{{ site.baseurl }}{{ post.url }}"> -->
    <div class="post-preview">

      {% if post.thumbnail %}
      <div class="post-image-preview">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ site.baseurl }}/images/thumbnails/{{ post.thumbnail }}">
          </img>
        </a>
      </div>
      {% endif %}

      <div class="post-text-preview">
      <h1 class="post-title-preview">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <div class="date">{{ post.date | date: "%B %d, %Y" }}
        <span> • {% if post.lang == "pt_BR" %}Português{% else %}English{% endif %}</span>
      </div>

      <div>
        <p class="post-summary-preview">
          {% if post.summary %}
          {{ post.summary | strip_html | truncate: 150 }}
          {% else %}
          {{ post.excerpt | strip_html | truncate: 150 }}
          {% endif %}
        </p>
      </div>
      </div>

    </div>
  <!-- </a> -->

    <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
  {% endif %}
  {% endfor %}
</div>

</div>