---
layout: default
---

<div id="index-banner">
  <div class="banner-container">

    <div class="banner-content content-fadein">
      <div></div>
      <div class="banner-title">HI, I AM ITALO</div>
      <div class="banner-info1">
        <p>
          Software Developer with knowledge on Node.js, front-end frameworks
          (Vue, Angular, Ionic...), Docker and agile methodologies.
        </p>
      </div>
      <div class="banner-info2">
        <p>{% include fa-icon.html id="desktop" add-class="fa-index" %} Software Developer</p>
        <p>{% include fa-icon.html id="map-pin" add-class="fa-index" %} Belo Horizonte-MG, Brazil</p>
      </div>
      <div class="about-social">{% include svg-icons.html %}</div>
      <a class="banner-btn" href="{{ site.baseurl }}/about">more about me ></a>
    </div>

  </div>
</div>

<div id="main" role="main" class="container-main">

<div class="posts content-fadein">
  <h2 style="font-variant: small-caps">read my blog</h2>
  {% include posts-card-list.html %}
  <h2 style="font-variant: small-caps">projects i've worked on</h2>
  {% include about-cards.html %}
</div>

</div>