---
layout: default
---

{% include twitterTimeline.html %}


<div class="posts content-fadein resume-box">
  <div class="entry resume-index">
    <p>
      <strong>#include “lelis.h”</strong>
    </p>

    <p>{% include fa-icon.html id="desktop" add-class="fa-index" %} Engineering Student @ UFMG</p>

    <p>{% include fa-icon.html id="lightbulb" add-class="fa-index" %} Interested in Robotics, IoT, Machine Learning</p>

    <p>{% include fa-icon.html id="map-pin" add-class="fa-index" %} Belo Horizonte-MG, Brazil</p>

    <p>
      {% include fa-icon.html id="envelope" add-class="fa-index" %} <a href="mailto:hello@italolelis.com">hello@italolelis.com</a>
    </p>

    {% include svg-icons.html %}

    </p>
    <!-- <p>Undergraduate Engineering Student at the Federal University of Minas Gerais (UFMG), competed in several robotics competitions,
      either national and international. Devoted to programming, is learning about Artificial Inteligence and Applied Robotics.</p> -->
    <p>
      <a class="button btn-more-about" href="{{ site.baseurl }}/about">{% include fa-icon.html id="address-card" %}<br> Read more about me</a>
    </p>
  </div>
</div>

<div class="posts content-fadein">
  <!-- <p class="header-sitemap">
    <a href="https://italohdc.github.io">Italo Lelis</a> &gt; Blog</p> -->
  {% for post in site.posts %}
  {% if post.hidden == !true  %}
  <article>
    <hr>
    
    <!-- {% if post.lang == "pt_BR" %}
    <span class="tag-lang">PT BR</span>{% endif %} -->
    <!-- <a href="{{ site.baseurl }}{{ post.url }}"> -->
    <div class="post-preview">

      {% if post.thumbnail %}
      <div class="post-image-preview">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ site.baseurl }}/images/thumbnails/{{ post.thumbnail }}">
          </img>
        </a>
      </div>
      {% endif %}

      <div class="post-text-preview">
      <h1 class="post-title-preview">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <div class="date">{{ post.date | date: "%B %d, %Y" }}
        <span> • {% if post.lang == "pt_BR" %}Português{% else %}English{% endif %}</span>
      </div>

      <div>
        <p class="post-summary-preview">
          {% if post.summary %}
          {{ post.summary | strip_html | truncate: 150 }}
          {% else %}
          {{ post.excerpt | strip_html | truncate: 150 }}
          {% endif %}
        </p>
      </div>
      </div>

    </div>
  <!-- </a> -->

    <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
  {% endif %}
  {% endfor %}
</div>