---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.container-main {
  font: 18px/1.4 $serif-font/*$helvetica*/;
  color: $gray/*$darkGray*/;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-font;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.2;
  margin-bottom: 1em 0 2px;
  /*margin-top: 1em 0 24px;*/
  margin-top: 24px;
  margin-right: 1em 0 15px;
  margin-left: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.0;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $gray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

table, th, td {
  border: 2px solid $white;
}

table { 
  border-spacing: 5px;
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-left:auto; 
  margin-right:auto;
}

th {
  color: $white;
  background-color: $gray;
  padding: 6px 10px;
}

td { 
  background-color: $lightGray;
  padding: 12px 16px;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-family: $sans-serif-font;
  font-style: bold;
  color: $darkGray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: $masterColor;

  @include mobile {
    background-image: url("images/master-color-background.jpg");
  }
}

.masthead {
  padding: 20px 10px;
  border-bottom: 1px solid $masterColor;
  border-bottom: 1px solid #ddd;

  @include mobile {
    text-align: center;
  }

  @include big-screen {
    margin-left: -140px;
    margin-right: -140px;
  }
}

.masthead a {
    &:hover, &:active {
    color: $darkerGray;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: left;
    display: block;
    margin: 0 15px 0 0;
  }

  img {
    border-radius: 50%;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: left;
    clear: right;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $lightGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  
  @include mobile {
    float: left;
    clear: both;
  }
}

.site-description {
  margin: -5px 0 0 0;
  font-family: $sans-serif-font;
  // color: $gray2;
  color: $lightGray;
  font-size: 16px;

  @include mobile {
    float: left;
    clear: both;
    margin: 3px 0;
  }
}

nav {
  float: right;
  display: flex;
  margin-top: 23px; // @TODO: Vertically middle align
  max-height: 30px;
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: right;
    clear: both;
    margin-top: 16px;
    display: flex;
    font-size: 16px;
  }

  a {
    color: $lightGray;
    text-align: center;
    margin-left: 20px;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $white;
    }
  }

  p {
    font-size: 12px;
    text-align: center;
    margin: -1px 0 0 0;
    letter-spacing: 0.5px;
    
    &:hover, &:active {
      color: $darkerGray;
    }
    
    @include mobile {
      color: $white;
      font-size: 10px;
      margin-top: 2px;
    }
  }
}

//
// .main
//

.posts {
  @include big-screen {
    width: 720px;
    margin-left: -140px;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-family: $sans-serif-font;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid $black;
  background-color: $masterColor;
}

.post-image-preview {
  float: right;
  display: block;
  max-width: 150px;
  max-height: 100px;
  margin: 6px 10px;
  padding: 4px;
  @include mobile {
    float: left;
  }
}

.post-image-preview img {
  max-height: 100px;
  border-radius: 10%;
}

.entry {
  min-height: 100px;
}

.post-image {
  padding: 16px 8px;
  display: block;
}

.post-image img {
  padding-bottom: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-right {
  width: 40%;
  float: right;
  margin: 16px -40px 16px 16px;
  clear: both;
  display: inline-block;
  @include mobile {
    clear: none;
    float: none;
    margin: auto;
    width: 100%;
  }
}

.post-caption {
  text-align: center;
  font-family: $serif-font;
  font-size: 16px;
  font-style: italic;
}


.post-youtube {
  padding-top: 1em 16px;
  padding-bottom: 1em 16px;
  padding-left: 1em 8px;
  padding-right: 1em 8px;
  display: block;

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 100%;
  overflow: hidden;
}

.post-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 2px 0;
  margin-top: 10px;
  text-align: center;
  font-family: $sans-serif-font;
  // color: $gray2;
  color: $lightGray;
}

.author-description {
  padding: 12px 18px;
  margin: 24px 0;
  border-radius: 3px;
  background-color: $lightGray;
  clear: both;
}

.twitter-widget {
  display: none;
  @include big-screen {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 400ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
    display: block;
    float: right;
    // position: absolute;
    width: 240px;
    height: 720px;
    // left: 50%;
    margin-left: 40px;
    margin-right: -140px;
  }
}

.content-fadein {
  -webkit-animation: fadein 800ms;
  animation: fadein 800ms;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
