<div class="about-cards-flex">

<div class="about-card-external-container">
<div class="about-card">

    <img src="/images/about-cards/raptorb-white-cropped.jpg" class="about-card-image">

    <div class="about-card-container">
        <h3 class="about-card-title">Robocup Rescue Maze</h3>
        <p class="about-card-info1">Development of an autonomous robot
            that explores a maze looking for heat victims</p>
        <div class="about-card-info2">
            <p>{% include fa-icon.html id="trophy"%} 1st Place on LARC</p>
            <p>{% include fa-icon.html id="trophy"%} 2nd Place on RoboCup Netherlands</p>
        </div>
        <div class="about-card-info3">
            #Arduino #Tremaux #A-Star
        </div>
    </div>

    <a href="{{ site.baseurl }}/posts/maze-solving/" class="about-card-learn-more">Learn More ></a>

</div>
</div>

<div class="about-card-external-container">
<div class="about-card">

    <img src="/images/about-cards/learn-snake-card.jpg" class="about-card-image">

    <div class="about-card-container">
        <h3 class="about-card-title">Learn Snake</h3>
        <p class="about-card-info1">Implementation of an Artificial Intelligence that
            learns to play the game Snake and works directly on the browser</p>
        <div class="about-card-info3">
            #Q-Learning #JavaScript #ReinforcementLearning
        </div>
    </div>

    <a href="{{ site.baseurl }}/snake" class="about-card-learn-more">Run it ></a>

</div>
</div>

<div class="about-card-external-container">
<div class="about-card">

    <img src="/images/about-cards/crowds-thumbnail.jpg" class="about-card-image">

    <div class="about-card-container">
        <h3 class="about-card-title">Crowds</h3>
        <p class="about-card-info1">Translation of a game about human interactions to portuguese
        </p>
    </div>

    <a href="https://ncase.me/crowds/pt" class="about-card-learn-more">Play Game ></a>

</div>
</div>

<div class="about-card-external-container">
<div class="about-card">

    <img src="/images/about-cards/cinto-febrace-draft.jpg" class="about-card-image">

    <div class="about-card-container">
        <h3 class="about-card-title">Assistive Belt for Visually Impaired</h3>
        <p class="about-card-info1">Assistive Belt intented to aid Visually Impaired people in their mobility</p>
        <div class="about-card-info3">
            #ScienceFair #FEBRACE
        </div>
    </div>

</div>
</div>

</div>
