    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta property="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.author }}" />

    <meta property="title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" />
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" />

    {% if page.thumbnail %}
    <meta property="og:image" content="{{ site.baseurl }}/images/thumbnails/{{ page.thumbnail }}">
    <meta property="twitter:image" content="{{ site.baseurl }}/images/thumbnails/{{ page.thumbnail }}">
    {% else %}
    <meta property="og:image" content="{{ site.baseurl }}/images/profile_pic.jpg">
    {% endif %}