{% if site.footer-links.dribbble %}<i><a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="svg-icon dribbble"></a></i>{% endif %}
{% if site.footer-links.email %}<i><a href="mailto:{{ site.footer-links.email }}" class="svg-icon email"></a></i>{% endif %}
{% if site.footer-links.flickr %}<i><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="svg-icon flickr"></a></i>{% endif %}
{% if site.footer-links.github %}<i><a href="https://github.com/{{ site.footer-links.github }}" class="svg-icon github"></a></i>{% endif %}
{% if site.footer-links.facebook %}<i><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="svg-icon facebook"></a></i>{% endif %}
{% if site.footer-links.twitter %}<i><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="svg-icon twitter"></a></i>{% endif %}
{% if site.footer-links.linkedin %}<i><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="svg-icon linkedin"></a></i>{% endif %}
{% if site.footer-links.medium %}<i><a href="https://medium.com/@{{ site.footer-links.medium }}" class="svg-icon medium"></a></i>{% endif %}
{% if site.footer-links.instagram %}<i><a href="https://instagram.com/{{ site.footer-links.instagram }}" class="svg-icon instagram"></a></i>{% endif %}
{% if site.footer-links.youtube %}<i><a href="https://youtube.com/{{ site.footer-links.youtube }}" class="svg-icon youtube"></a></i>{% endif %}
{% if site.footer-links.pinterest %}<i><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="svg-icon pinterest"></a></i>{% endif %}
{% if site.footer-links.rss %}<i><a href="{{ site.baseurl }}/feed.xml" class="svg-icon rss"></a></i>{% endif %}
{% if site.footer-links.stackoverflow %}<i><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="svg-icon stackoverflow"></a></i>{% endif %}
{% if site.footer-links.googleplus %}<i><a href="https://plus.google.com/{{ site.footer-links.googleplus }}" class="svg-icon googleplus"></a></i>{% endif %}