
//
// VARIABLES
//

// Colors
$masterColor: #2978A0;

$blue: rgba(45, 111, 176, 0.9);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$gray2: #bbb;
$lightGray:rgba($color: #eee, $alpha: 0.8);
$lighterGray: #fafafa;
$white: rgba($color: #fff, $alpha: 0.9);
$bannerColor: rgba($color: #4A525A, $alpha: 0.8);

// Custom colors
//$githubColor: #24292e;
//$BusinessInsiderColor: #185f7d;
//$tecnoblogColor: #2180a7;
// $masterColor: #2b749f;

//#313B72
//#58A4B0
//#2B303A

/* Colors
	#b2cce6 - Light Blue
	#67bcdb - Healty Blue
	#6dbdd6 - Triadic Blue

	#f0f8f8 - Inventive Blue
	#a8f0a0 - Inventive Green

	#30499B - Strong Blue
	#0d0a8a
	#1d2b69
	#181991

	#24292e - GitHub
*/

// Font stacks
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
/*$verdana: Verdana, Geneva, sans-serif;*/
// $trebuchet: "Trebuchet MS", Helvetica, sans-serif;
// $palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$montserrat: 'Montserrat', sans-serif;
// $oswald-font: 'Oswald', sans-serif;
// $archivo-font: 'Archivo', sans-serif;
$rubik-font: 'Rubik', sans-serif;
// $sans-serif-font: $rubik-font; //$oswald-font; /*title*/
// $serif-font: $rubik-font; /*text*/

$header-title: $montserrat; /*text*/

$title-font: $rubik-font; /*text*/
$text-font: $rubik-font; /*text*/

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin big-screen {
  @media screen and (min-width: 1050px) {
    @content;
  }
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
