---
layout: default
---

{% if page.banner %}
<div id="post-banner" style="background-image: url(/images/banners/{{ page.banner }})">
  <div class="banner-post-container">
    {% if page.banner-credits %}<div class="banner-small-text">{{ page.banner-credits }}</div>{% endif %}
  </div>
</div>
{% else %}
<div id="no-banner"></div>
{% endif %}

<div id="main" role="main" class="container-main">

<article class="post content-fadein">
  <div>
  <h1>{{ page.title }}</h1>
  
  <time class="date">
    {{ page.date | date: "%B %e, %Y" }}{% if page.updated %} | updated on {{ page.updated | date: "%B %e, %Y" }}{% endif %}
  </time>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include author-description.html %}

  {% include more-posts.html %}

  {% include disqus.html %}
</article>

</div>
